.Header {
  font-family: $title-font-family;
  width: 100%;
  text-align: center;
  background: $main-color;
  color: $main-bg;
  padding: 2em;
}

.Header__name {
  margin: 0;
  font-weight: bold;
}

.Header__first {
  font-weight: normal;
}

.Header__title {
  margin: 0;
  font-weight: normal;
}

@mixin m-Header--fonts($name, $title) {

  .Header__name {
    font-size: #{$name};
  }

  .Header__title {
    font-size: #{title};
  }
}

/* Establece tamaño de las fuentes para cada resolución */
@include m-Header--fonts(4em, 2em);

@media only screen and (max-width: 1000px) {
  @include m-Header--fonts(3em, 1.8em);
} 

@media only screen and (max-width: 500px) {
  @include m-Header--fonts(2.5em, 1.5em);
} 