.Item {
  display: flex;
  border-bottom: 1px solid #EEE;
  margin: 10px;
}

.Item__date {
  flex: 0 0 8em;
  font-size: 1em;
  font-family: $title-font-family;
}

.Item__body {
  flex-grow: 1;
  text-align: justify;
}

.Item__title {
  font-size: 1.5em;
  margin: 0;
  font-weight: bold;
}

.Item__info {
  float: right;
  bottom: 0px;
  right: 0px;
  font-size: .7em;
  color: lighten($main-color, 50%)
}

@media only screen and (max-width: 700px) {

  .Item {
    margin: 5px;
    display: block;
  }

  .Item__body {
    margin-left: 2em;
  }

  .Item__title {
    font-size: 1.2em;
  }

  .Item__info {
    float: none;
  }
}
