.Tab {
  background: white;
  padding: 2em;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 1em;
}

.Tab__title {
  margin: 0;
  font-family: $title-font-family;
  font-weight: bold;
  font-size: 2.5em;
  margin-bottom: 1.5em;
}

@media only screen and (max-width: 1000px) {

  .Tab {
    padding: 1.5em;
    margin-left: .5em;
    margin-right: .5em;
  }

  .Tab__title {
    font-size: 2em;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 500px) {

  .Tab {
    padding: 1em;
    margin-left: 0;
    margin-right: 0;
  }

  .Tab__title {
    font-size: 1.8em;
  }
} 

.Tab--blue {

  .Tab__prefix {
    color: $blue;
  }
}

.Tab--red {

  .Tab__prefix {
    color: $red;
  }
}

.Tab--orange {

  .Tab__prefix {
    color: $orange;
  }
}

.Tab--green {

  .Tab__prefix {
    color: $green;
  }
}

.Tab--purple {

  .Tab__prefix {
    color: $purple;
  }
}