.TabBar {
  padding: 0;
  margin: auto;
  margin-top: 1em;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-size: 1.1em;
}

.TabBar__item {
  list-style: none;
  background: white;
  flex: 1 1 0;
  text-align: center;
  padding: 1em;
  margin: 0 1em 1em;
  cursor: pointer;
  border: 1px solid lighten($main-color, 70%);
  border-bottom-width: 4px;
  transition-duration: .1s;
  white-space: nowrap;
  max-width: 200px;

  &:hover {
    border-bottom-color: auto;
    transform: scale(1.1);
  }

  &:active {
    transform: scale(.9);
  }
}

@media only screen and (max-width: 1000px) {
  
  .TabBar {
    margin-top: .5em;
  }

  .TabBar__item {
    margin: 0 .5em .5em;
  }
}

.TabBar__item--blue {
  border-bottom-color: $blue;
}

.TabBar__item--red {
  border-bottom-color: $red;
}

.TabBar__item--orange {
  border-bottom-color: $orange;
}

.TabBar__item--green {
  border-bottom-color: $green;
}

.TabBar__item--purple {
  border-bottom-color: $purple;
}

.TabBar__item:not(.TabBar__item--selected) {
  border-bottom-color: lighten($main-color, 70%);
}

.TabBar__item--selected {
  font-weight: bold;
}