* {
  box-sizing: border-box;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $main-bg;
  color: $main-color;
  margin: 0;
}

a {
  color: $main-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}