<section class="Tab Tab--purple">
  <h1 class="Tab__title">
    <i class="far fa-address-book"></i>
    <span class="Tab__prefix">con</span>tacto</h1>
      <div class="TabBar">
	    <a class="TabBar__item" href="mailto:borchag@uoc.edu">
	    	<i class="fas fa-envelope"></i> borcha@uoc.edu
	    </a>
	    <a class="TabBar__item" href="https://twitter.com/gimco" target="_blank">
	    	<i class="fab fa-twitter"></i> @gimco
	    </a>
	    <a class="TabBar__item" href="https://blog.gimco.es" target="_blank">
	    	<i class="fas fa-rss-square"></i> blog.gimco.es
	    </a>
      </div>
</section>
