    <section class="Tab Tab--red">
      <h1 class="Tab__title"><i class="fas fa-university"></i> <span class="Tab__prefix">edu</span>cación</h1>

      <div class="Item">
        <div class="Item__date">2019 - Actualidad</div>
        <div class="Item__body">
          <h2 class="Item__title">
            Master en Desarrollo de Sitios y Aplicaciones Web
            <div class="Item__info">UOC</div>
          </h2>
          <p>Actualmente cursando el master indicado.</p>
        </div>
      </div>

      <div class="Item">
        <div class="Item__date">2004 - 2012</div>
        <div class="Item__body">
          <h2 class="Item__title">
            Ingeniería Superior en Informática
            <div class="Item__info">Universidad de Sevilla</div>
          </h2>
          <p>Proyecto de fin de carrera: ITEPE Dirección, Gestión económica y Análisis de un proyecto software real. Se trata de un sistema de información para la gestión de las inspecciones de trabajo del Instituto de Seguridad Laboral del Gobierno de Chile. Algunas de las tecnologías empleadas fueron JSF, JBOSS Seam, Hibernate3, Alfresco, Formul@, Plantill@, LDAP, Google Calendar y Google Maps API.
          </p>
        </div>
      </div>

      <div class="Item">
        <div class="Item__date">2000 - 2003</div>
        <div class="Item__body">
          <h2 class="Item__title">
            Ingeniería en Informática de Gestión
            <div class="Item__info">Universidad de Huelva</div>
          </h2>
          <p>Proyecto de fin de carrera: GCONTA Análisis y desarrollo de un sistema de gestión conTable para el entorno Linux/GNOME. Se trata de una aplicación de escritorio desarrollada en C, utilizando las principales librerías del entorno GNOME: GTK+, GLib y LibGDA. Permitía la personalización del Plan General de ConTabilidad, administración del Diario y el Mayor, y generación de informes.
          </p>
        </div>
      </div>
    </section>
