    <section class="Tab Tab--orange">
      <h1 class="Tab__title">
        <i class="fas fa-briefcase"></i>
        <span class="Tab__prefix">exp</span>eriencia
      </h1>

      <h2>EPICSA (desde febrero de 2016 hasta la actualidad)</h2>

      <div class="Item">
        <div class="Item__date">2018</div>
        <div class="Item__body">
          <h2 class="Item__title">
            Plataforma de Recursos Humanos de la Diputación de Cádiz
          </h2>
          <p>Migración desde un mainframe IBM 390/NATURAL3/ADABAS. Construcción
de parsers, herramientas y conversión de ADABAS a ORACLE.
Diseño del proceso y estrategia de migración/modernización.
Planificación y Coordinación del equipo de desarrollo.
Inyección de DLLs para agregar compatibilidad a componentes de terceros.
Ingeniería inversa de protocolos de comunicaciones propietarias.
Creación sistema de gestión de máquina virtuales (tipo Citrix).
Análisis y Diseño de la nueva plataforma basada en una arquitectura extensible.</p>
<p>Tecnologías: <em>Java, Spring Boot, MyBatis, Hibernate, OSGi, ANTLR, Apache Guacamole, Docker, VirtualBox, QEMU, Wireshark, OllyDbg, VisualC++6, ODBC</em>
</p>
  
        </div>
      </div>


<div class="Item">
  <div class="Item__date">2017</div>
  <div class="Item__body">
    <h2 class="Item__title">
      RPT: Gestión de plantillas, plazas y puestos de la administración
    </h2>
    <p>
pública.
Planificación y Coordinación del equipo de desarrollo.
Análisis, Diseño e Implementación.
Integración con sistemas legacy.</p>
<p>Tecnologías: <em>Java, Spring, Struts2, Hibernate, Envers, JODReports, PL/SQL</em></p>
</div>
</div>

<div class="Item">
  <div class="Item__date">2017</div>
  <div class="Item__body">
    <h2 class="Item__title">
      Modernización del Control Horario de la Diputación de Cádiz.
    </h2>
    <p>
Migración de plataforma de NATURAL3/ADABAS a NATURAL6/Oracle.
Creación de herramientas de exportación y conversión.
Implementación de protocolos de bajo nivel para soporte relojes Anviz.
Optimización y Modernización de informes.</p>
<p>Tecnologías: <em>Adabas, Natural, Java, MyBatis, JODReports, PL/SQL</em></p>
</div>
</div>

<div class="Item">
  <div class="Item__date">2016</div>
  <div class="Item__body">
    <h2 class="Item__title">
      Consultor
    </h2>
    <p>
Simplificación e implantación de un único sistema SSO.
Solucionar autenticación con Certificado digital mediante la implementación
de conector Tomcat integrado con @firma.
Normalización de proyectos, mavenización, despliegue. Definición de pro-
cedimientos.
Solventar problemas asociados a la compatibildiad de applets mediante la
conversión en aplicaciones standalone instalables (WebOffice).
</p>
</div>
</div>




      
</section>
