<section class="Tab Tab--green">
  <h1 class="Tab__title">
    <i class="fas fa-award"></i>
    <span class="Tab__prefix">for</span>mación
  </h1>



<div class="Item">
<div class="Item__date">2019</div>
<div class="Item__body">
  <h2 class="Item__title">
    Path sobre Domain-Driven-Design
    <div class="Item__info">PluralSight</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2018</div>
<div class="Item__body">
  <h2 class="Item__title">
    Certificado Vaadin 8 Developer y Profesional
    <div class="Item__info">Vaadin</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2015/05</div>
<div class="Item__body">
  <h2 class="Item__title">
    Puppet vs Dockers
    <div class="Item__info">Grupo ID</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2015/05</div>
<div class="Item__body">
  <h2 class="Item__title">
    AngularJS + IONIC
    <div class="Item__info">Group ID</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2015/04</div>
<div class="Item__body">
  <h2 class="Item__title">
    Desarrollo móvil con Titanium Appcelerator
    <div class="Item__info">Group ID</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2014/09</div>
<div class="Item__body">
  <h2 class="Item__title">
    CMMI 5, Aplicación en la Empresa
    <div class="Item__info">Guadaltel S.A.</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2014/05</div>
<div class="Item__body">
  <h2 class="Item__title">
    M102: MongoDB for DBA
    <div class="Item__info">MongoDB University</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2014/07</div>
<div class="Item__body">
  <h2 class="Item__title">
    HTML5, CSS3 y Phonegap
    <div class="Item__info">Grupo ID</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2014/05</div>
<div class="Item__body">
  <h2 class="Item__title">
    M101JS: MongoDB for Node.js Developers
    <div class="Item__info">MongoDB University</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2014/05</div>
<div class="Item__body">
  <h2 class="Item__title">
    M101J: MongoDB for Java Developers
    <div class="Item__info">MongoDB University</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2014/02</div>
<div class="Item__body">
  <h2 class="Item__title">
    Administración Avanzada de PostgreSQL
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2014/01</div>
<div class="Item__body">
  <h2 class="Item__title">
    Administración de PostgreSQL
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2013/12</div>
<div class="Item__body">
  <h2 class="Item__title">
    Seguridad y Hacking Ético
    <div class="Item__info">Isecom</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2013/07</div>
<div class="Item__body">
  <h2 class="Item__title">
    JSF2 + CDI/WELD + JPA2/Hibernate3
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2013/07</div>
<div class="Item__body">
  <h2 class="Item__title">
    Administración JBOSS AS 7.x
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2013/03</div>
<div class="Item__body">
  <h2 class="Item__title">
    Understanding High Maturity Practices
    <div class="Item__info">Carnegie Mellon University</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2012/02</div>
<div class="Item__body">
  <h2 class="Item__title">
    Introduction to CMMI for Development, V1.3
    <div class="Item__info">Carnegie Mellon University</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2011/04</div>
<div class="Item__body">
  <h2 class="Item__title">
    Scrum Manager Certified
    <div class="Item__info">Xtrem Byte</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2009/05</div>
<div class="Item__body">
  <h2 class="Item__title">
    Sun Certified Programmer for the Java 2 Platform
    <div class="Item__info">Sun Microsystems</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2009/01</div>
<div class="Item__body">
  <h2 class="Item__title">
    Curso avanzado de Apache Tomcat
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2008/06</div>
<div class="Item__body">
  <h2 class="Item__title">
    Gestión de la configuración (PYMETICA CMMI)
    <div class="Item__info">Eticom</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2008/04</div>
<div class="Item__body">
  <h2 class="Item__title">
    Desarrollo de Aplicaciones Web J2EE con JBOSS SEAM 
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2007/12</div>
<div class="Item__body">
  <h2 class="Item__title">
    Spring Framework
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2007/01</div>
<div class="Item__body">
  <h2 class="Item__title">
    Buses de Integración
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2007/04</div>
<div class="Item__body">
  <h2 class="Item__title">
    Java Server Faces 
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2006/12</div>
<div class="Item__body">
  <h2 class="Item__title">
    Métrica 3 y Enterprise Architect
    <div class="Item__info">Avante</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2006/08</div>
<div class="Item__body">
  <h2 class="Item__title">
    Trew@
    <div class="Item__info">Guadaltel S.A.</div>
  </h2>
</div>
</div>

<div class="Item">
<div class="Item__date">2006/06</div>
<div class="Item__body">
  <h2 class="Item__title">
    Apache Struts e Ibatis 
    <div class="Item__info">Guadaltel S.A.</div>
  </h2>
</div>
</div>

    </section>