<section class="Tab Tab--blue">
  <h1 class="Tab__title"><i class="fas fa-envelope-open-text"></i> <span class="Tab__prefix">pre</span>sentación</h1>

  <p>Ingeniero Informático con mas de 14 años de experiencia en el análisis y desarrollo de sistemas basados en tecnologías Java. Durante mi carrera laboral he podido participar en proyectos de distinta envergadura, desempeñando todo tipo de roles, principalmente con responsabilidades técnicas y de arquitectura de sistemas.</p>
  <p>Mi constante inquietud por explorar nuevas tecnologías y tendencias, mi exigencia por el uso de las buenas practicas en la realización de las tareas, así como mi capacidad resolutiva ante todo tipo de problemas, ha llevado en las dos empresas en las que he trabajado, a la creación de un departamento horizontal para aprovechar estas aptitudes en la mejora y la madurez de la organización.</p>

  <p>He sido responsable de las decisiones y propuestas tecnologícas de ofertas y proyectos, y gestionado y coordinado equipos de desarrollo. Me apasiona contribuir en todo el ciclo de vida de productos y servicios, siendo muy exigente en cuanto a usabilidad, utilidad y satisfacción del cliente.</p>

  <h2>Habilidades transversales</h2>
  <ul>
    <li>Gestionar y liderar equipos para que alcancen los objetivos marcados, en tiempo y presupuesto. Pragmático.</li>
    <li>Altamente resolutivo antes retos técnicos.</li>
    <li>Ser meticuloso, abierto, comunicativo y extremadamente didáctico en lo que hago y explico.</li>
    <li>Obsesión por los procesos de mejora, para definir, implementar y contribuir en la mejora de la organización.</li>
    <li>Rápida adaptación a diferentes frameworks y lenguajes de programación.</li>
    <li>Experiencia en administración de sistemas Linux.</li>
  </ul>
</section>