@use "sass:color";

$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-family-serif: "Nunito", sans-serif;
$title-font-family:  "Open Sans Condensed", sans-serif;

$main-color: #333333;
$main-bg: #f5f5f5;

// section colors
$blue: #6CE0F1;
$red: #FB4485;
$orange: #FDA333;
$green: #C2E15F;
$purple: #D3A4F9;
